:root {
    --c1: #181613;
    --c2: #49111c;
    --c3: #f2f4f3;
    --c4: #dbd0c2;
    --c5: #5e503f;

}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--c5);
}

/* Adds smooth scrolling on the webpage instead of one that is staticky */
html {
    scroll-behavior: smooth;
}

/* body::-webkit-scrollbar adjusts the width of the scrollbar on the side of the screen and makes the track transparent. Thumb changes the color of the tab. */
body::-webkit-scrollbar {
    width: .3rem;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--bcg3);
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bgc1);
}

.cus-navbar {
    background: var(--c1);
    border-bottom: 5px solid var(--c2);
}

.cus-navbar-brand {
    margin: 0% 2% 0% 2%;
}

.cus-navbar-brand img {
    width: 80px;
}

.navbar-nav {
    padding: 0% 5% 0% 5%;
}

.navbar-nav a {
    color: var(--c4);
}

.logo {
    margin-left: 5%;
    width: 30px;
}

.parallaxImg {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.3)),
        url(../images/IMG_1077.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin: 800px 0 0 0;
    border: 0;
    border-top: 3px solid var(--c2);

}